<!Doctype>
<html>
<head>
</head>
<body>
<h1>Manage#index</h1>
<p>Find me in app/views/manage/index.html.erb</p>
<p>Hy ahmidi mohamed</p>

<% @fruit.each do |item| %>
<%= "fruist #{item}"  %>
</br>
    <% end %>